<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ctestapp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
				<key>dateExpires</key>
				<string>2021/11/17</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>adhara_socket_io.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audioplayers.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_nfc_kit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>orientation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86DF304FA6ABA3640A13ED1DB53B336AC87D2ED8</string>
						<key>dateExpires</key>
						<string>2021/11/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A9D34WH4K7</string>
						<key>name</key>
						<string>Liou Ting-Hou</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A9D34WH4K7.tkucoin</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>A9D34WH4K7</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>A9D34WH4K7.tkucoin</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9622e642-a0b5-4d62-86ab-b9cc148ae147</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: tkucoin</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A9D34WH4K7</string>
				<key>name</key>
				<string>Liou Ting-Hou</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
